{{- if has "login-shell" .tools -}}
#!/bin/sh
set -eu

source_dir={{ template "shell-quote" .chezmoi.sourceDir }}

# shellcheck disable=SC1091
. "$source_dir/lib/login-shell-bootstrap.sh"
plasticine_login_shell_plan || exit 1
plasticine_login_shell_apply || exit 1
{{- end }}
