{{- if has "github-ssh" .tools -}}
#!/bin/sh
set -eu

config_file={{ template "shell-quote" (joinPath .chezmoi.destDir ".ssh" "config") }}
ssh_dir={{ template "shell-quote" (joinPath .chezmoi.destDir ".ssh") }}
config_dir=$ssh_dir/config.d
fragment_file=$config_dir/00-plasticine-github.conf
target_key=$ssh_dir/id_github
begin_marker='# BEGIN plasticine-dotfiles github-ssh'
end_marker='# END plasticine-dotfiles github-ssh'

{{ template "whole-file-protection" . }}
plasticine_whole_file_validate_dir "$ssh_dir" 'github-ssh'
plasticine_whole_file_validate_dir "$config_dir" 'github-ssh'
plasticine_whole_file_validate_file "$config_file" 'github-ssh'
plasticine_whole_file_validate_file "$fragment_file" 'github-ssh'
plasticine_whole_file_validate_file "$target_key" 'github-ssh'

work_dir=$(mktemp -d "${TMPDIR:-/tmp}/plasticine-ssh-config.XXXXXX")
trap 'rm -rf "$work_dir"' EXIT HUP INT TERM
input_file=$work_dir/input
stripped_file=$work_dir/stripped
existing_effective_file=$work_dir/existing-effective
default_effective_file=$work_dir/default-effective

if [ -f "$config_file" ]; then
    cp "$config_file" "$input_file"
else
    : > "$input_file"
fi

{{ template "github-ssh-config-validation" . }}
{{- end }}
