{{- if has "git-config" .tools -}}
#!/bin/sh
set -eu

dest_dir={{ template "shell-quote" .chezmoi.destDir }}
pending_mode=$dest_dir/.plasticine/backups/git-config/pending-mode

{{ template "whole-file-protection" . }}
plasticine_whole_file_restore_modes "$pending_mode" "$dest_dir" git-config .gitconfig
{{- end }}
