#!/bin/sh
set -eu

{{ template "shell-zshrc-block" . }}

work_dir=$(mktemp -d "${TMPDIR:-/tmp}/plasticine-zshrc.XXXXXX")
trap 'rm -rf "$work_dir"' EXIT HUP INT TERM

cat > "$work_dir/input"
plasticine_shell_compose "$work_dir/input"
